.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Adiciona centralização vertical */
  height: 100vh; /* Garante que o contêiner ocupa a altura total da tela */
}

.lista-clientes {
  max-width: 400px;
  width: 100%;
  background-color: #6a1b9a;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.lista-clientes ul {
  padding: 0;
  list-style: none;
}

.lista-clientes li {
  margin-bottom: 8px;
}

.lista-clientes label {
  color: #fff;
  display: block;
  margin-bottom: 6px;
}

.lista-clientes input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.lista-clientes button {
  background-color: #fff;
  color: #6a1b9a;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lista-clientes button:hover {
  background-color: #f5f5f5;
}